### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
/prog_avanzada_usal_tp5.iml

## Directory-based project format:
.idea/

# IntelliJ
/out/

### Eclipse template

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath
*.rar
*.txt
